:root {
    box-sizing: border-box;
    transition: all 0.5s ease-out;
}

*,
::before,
::after {
    box-sizing: inherit;
    transition: inherit;
}

/* GLOBAL MOBILE */

body {
    font-family: "calibri", sans-serif;
    font-size: 1.2em;
    margin: 0;
}

h1 {
    font-size: 1.8em;
    margin: .9em 0 0 0;
}

h2 {
    font-size: 1.5em;
    margin: .9em 0 0 0;
}

figure {
    background-color: black;
    border-radius: 5px;
    color: white;
    padding: .8em;
    text-align: center;
    margin: 0 0 .9em 0;
}

img {
    flex:1;
    max-width: 100%;
    object-fit: cover;

}

.container {
    margin: 0 0.5em;
}
/*  flex figure per riempire con cover*/
figure{
    display: flex;
    flex-direction: column;
}
/*  effects puntatore su immagine*/

figure:hover{
    background-color: red;
    cursor: pointer;
    transition-duration: 1.5s;
}





/*  dopo i 768 disponi a griglia 4 float*/

@media screen and (min-width: 768px) {
    body {
        background-color: rgba(132, 15, 180, 0.18);
    }

    figure {
        float: left;
        width: calc(50% - 1.5em);
        margin-right: 1.5em;
    }

    .kittens {
        margin-right: -1.5em;
    }

    .kittens::after {
        content: "";
        clear: both;
        display: block;
    }
}
/*  dopo i 1024 con double container pattern*/
@media screen and (min-width: 1024px){
    body{
        background-color: #ffd260;
    }
.container{
    max-width: 1024px;
    margin: 0 auto;
    background-color: white;
    padding: .1em 1.5em;
}
}

























