body {
    background-image: url(view-on-calm-lake-1407257.jpg);
    background-attachment: fixed;
}

div.page-wrapper {
    background: white;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
    padding: 150px;
    margin: 180px;

}

h1, h2, h3, h4, h5, h6 {
    font-size: 25px;
    color: black;
    padding: 25px
    margin: 0 auto;
}

p::first-letter {
    font-size: 30px;
    color: black;
}

div {
    color: blue;
}